.button {
    -fx-padding: 2, 2, 2, 2;
    -fx-background-color: transparent;
}

.button:hover {
    -fx-background-color: rgba(220, 220, 220, .6);
}

.button:armed {
    -fx-background-color: rgba(220, 220, 220, .6);
}