 .choice-box {
     -fx-min-width: 23;
     -fx-pref-width: 23;
     -fx-max-width: 23;
 }

 #choice-box-menu-item {
    -fx-pref-width: 140;
 }

 .choice-box .label {
     -fx-padding: 0 0 0 16;
 }



