 .combo-box.warning:focused {
     -fx-background-color: red ,-fx-box-border,-fx-control-inner-background;
 }

 .combo-box .arrow-button {
     -fx-padding: 0 0 0 -7;
 }

 .combo-box .text-field {
     -fx-background-color: rgb(69,73,74);
     -fx-text-fill: rgb(200,200,200);
 }
