 .combo-box.warning {
     -fx-background-color: red ,-fx-box-border,-fx-control-inner-background;
 }

 .combo-box .arrow-button {
     -fx-padding: 0 9 0 10;
     -fx-background-color:
             #000000,
             linear-gradient(#737373, #737373),
             linear-gradient(#545658, #4b4e50),
             linear-gradient(#545658, #4b4e50);
 }

 .combo-box .text-field {
     -fx-background-color: rgb(69,73,74);
     -fx-text-fill: rgb(230,230,230);
 }

 .combo-box-popup .list-view .list-cell {
     -fx-background-color: rgb(96, 96, 96);
     -fx-text-fill: rgb(230, 230, 230);
 }

 .combo-box-popup .list-view .list-cell:hover {
     -fx-background-color: rgb(75,110,175);
 }

 .combo-box-popup .list-view .list-cell:focused {
     -fx-background-color: rgb(75,110,175);
 }

 .combo-box-popup .list-view .list-cell:selected {
     -fx-background-color: -fx-accent;
 }
