.list-view .list-cell {
     -fx-padding: 1 0 0 0;
     -fx-background-color: rgb(217,217,217);
 }

.list-view .list-cell:selected {
    -fx-background-color: #005797;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.list-view .list-cell:odd {
    -fx-padding: 1 0 0 0;
    -fx-background-color: rgb(201,201,201);
}

.list-view .list-cell:odd:selected {
    -fx-background-color: #005797;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.list-view {
    -fx-background-color: rgb(99,99,99);
}






